@value values: '@/css/variables.module.css';
@value shadow, radius from values;

.card {
  padding: 10px;
  border-radius: radius;
  box-shadow: shadow;

  background: #fff;
}

.card__paragraph {
  margin: 0;
  white-space: pre-wrap;
}
