@value values: '@/css/variables.module.css';
@value colorMain from values;

.app {
  min-height: 100vh;
  padding: 40px;
  background-color: colorMain;
}

.form-add-card--active {
  display: flex;
}

.hide {
  display: none;
}

.warning {
  color: red;
}

.warning::placeholder {
  color: red;
}
